/* ---- Colours ---- */

/* Primary
   #FFF
*/

/* Secondary
   #2A6BAE
*/

/* Highlight
   #38933A
*/


/* ---- Font Imports ---- */

/*
*/


/* ---- General CSS ---- */

body {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    overflow: hidden;

    margin: 0;
    padding: 0;

    background: #FFF;
    color: #000;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.transition-base {
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
        -ms-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}

#Main {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}


/* --- Hide Number Input Spinners --- */

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}


/* ---- Media Queries ---- */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/** ie10mobile.css **/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
